Brlapi==0.5.4
CouchDB==0.6
Django==1.1.1
GnuPGInterface==0.3.2
Mako==0.2.5
MySQL-python==1.2.2
Numeric==24.2
PAM==0.4.2
PIL==1.1.7
Twisted-Core==10.0.0
Twisted-Names==10.0.0
Twisted-Web==10.0.0
adium-theme-ubuntu==0.1
apturl==0.4.1ubuntu4
ccsm==0.8.2
chardet==2.0.1
command-not-found==0.1
configglue==0.2dev
cups==1.0
distribute==0.6.10
feedparser==4.1
fstab==1.4
geopy==0.94.1
gnome-app-install==0.4.2ubuntu2
httplib2==0.6.0
jockey==0.5.8
launchpadlib==1.6.0
lazr.restfulclient==0.9.11
lazr.uri==1.0.2
louis==1.7.0
numpy==1.3.0
nvidia-common==0.0.0
oauth==1.0a
oauth2==1.2.0
onboard==0.93.0
papyon==0.4.8
paramiko==1.7.6
pexpect==2.3
protobuf==2.2.0
pyOpenSSL==0.10
pycrypto==2.0.1
pycurl==7.19.0
pygpgme==0.1
pyinotify==0.8.9
pyserial==2.3
pysqlite==2.5.5
python-apt==0.7.94.2ubuntu6.2
python-dateutil==1.4.1
python-debian==0.1.14ubuntu2
pytz==2010b
pyxdg==0.18
rdflib==2.4.2
screen-resolution-extra==0.0.0
screenlets==0.1.3-
screenlets-pack-basic==0.0.1-
simplejson==2.0.9
smbc==1.0
speechd==0.3
speechd-config==0.0
system-service==0.1.6
uTidylib==0.2
ubuntuone-storage-protocol==1.2.0
ufw==0.30pre1-0ubuntu2
unattended-upgrades==0.1
usb-creator==0.2.22
virtkey==0.01
virtualenv==1.4.5
wadllib==1.1.4
wsgiref==0.1.2
wxPython==2.8.10.1
wxPython-common==2.8.10.1
xkit==0.0.0
zope.interface==3.5.3
